$primary: #3CA9F0
$dark: #343434
$bg: #EEEFF0
$error: #FF395D
$light: #fff
$gray: #9A9A9A
$body-bg: #FDFEFF
body
    background: $body-bg
.btn
    display: inline-block
    padding: 1.8rem 5.2rem
    font-size: 1.8rem
    border: 1px solid #000
    border-radius: 12px
    cursor: pointer
    &--trans
        background: transparent
        border-color: $primary
        color: $primary
    &--disabled
        background: $bg
        color: $gray
        border-color: $bg
    &--enabled
        color: $light
        background: $primary
        border-color: $primary
        box-shadow: 0 0 12px rgba(#000, 0.12)
.inputBox
    position: relative
    display: flex
    flex-direction: column
    &__label
        position: absolute
        z-index: 2
        left: 0
        top: 0
        color: $dark
        font-weight: 400
        font-size: 1.6rem
        cursor: default
        transform: translate(2rem, -50%)
        background: $body-bg
        transition: 0.3s ease 
    &__input, &__select, &__textarea
        padding: 1.5rem 1.7rem
        background: transparent
        border-radius: 10px
        border: 1.25px solid #EAEAEA
        font-size: 1.8rem
        color: $dark
        transition: 0.3s ease
        &:placeholder
            color: $gray
        &:focus
            border-color: $primary
            +.inputBox__label
                color: $primary
    &__select
        position: relative
        appearance: none
        z-index: 1
    &__textarea
        resize: none
    &__errorText
        position: absolute
        bottom: 0
        left: 2rem
        color: $error
        font-weight: 400
        font-size: 1.4rem
        transition: 0.3s ease
        z-index: 3
    &__clean
        position: absolute
        width: 1.7rem
        height: 1.7rem
        display: none
        z-index: 3
        align-items: center
        justify-content: center
        border: 1.25px solid $dark
        border-radius: 6px
        cursor: pointer
        top: 50%
        right: 1.8rem
        transform: translateY(-50%)
        span
            position: relative
            display: block
            width: 6px
            height: 1px
            border-radius: 1px
            background: $dark
            transform: rotate(45deg)
            &::before
               position: absolute
               content: ""
               display: block
               width: 100%
               height: 1px
               border-radius: 1px
               background: $dark
               transform: rotate(90deg) 
    &--error
        .inputBox
            &__label
                color: $error !important
            &__input, &__textarea
                border-color: $error !important
            &__count
                color: $error
